/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Feb-2017, 19:06:22
    Author     : zain
*/

* {
    padding: 0em;
    margin: 0em;
}

.clear  {
    clear: both;
}

header {
    -webkit-border-radius:1em;    
    -moz-border-radius: 1em;
    border-radius: 0px;
    padding-top: 50px;
    margin: auto;
    width: 85%;
    border-bottom: dotted;
}

img {
    clear: both;
}

.images {
    position: absolute;
    top: 5px;
    left: 10px;
}

body {
    background-color: white;
}